
<div id="chatContainer">

  <app-side-bar (recentChatClicked)="onClickChat($event)"></app-side-bar>

  <div id="chat">
    <div id="defaultRightPage" *ngIf="!chatOpen">
      <img src="../../assets/image/defaultRightSidePic.png" alt="">
    
      <h2>Download WhatsApp for Window</h2>

      <p>Make calls, share your screen and get faster experience when you <br> download the Window app</p>

      <button (click)="getApp()">Get the app</button>
      
    </div>
    
    <app-chat-bar [conversion]="chatOpen" *ngIf="chatOpen"></app-chat-bar>
  </div>

  
</div>


<router-outlet></router-outlet>
